html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a {
  cursor: pointer;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

:focus {
  outline: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


html[xmlns] .clearfix {
  display: block;
}


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

html, body {
  font-family: 'Roboto', Arial, Helvetica, 'Noto Sans TC', "Microsoft JhengHei", PingFang, sans-serif;
  background-color: #37357B;
  color: white;
  position: relative;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  min-width: 375px;
}

header {
  width: 100%;
  height: 100vh;
  padding: 0 24px;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/bn-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

header .info-cont {
  max-width: 1300px;
  margin: 0 auto;
}

header .info-cont .mobeil-title {
  display: none;
}

header .info-cont .main-title {
  margin-top: -36px;
  margin-bottom: -50px;
}

header .info-cont .txt-box {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 36px;
}

header .info-cont .txt-box p {
  position: relative;
}

header .info-cont .txt-box .date::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -22px;
  top: 40%;

}

header .info-cont .txt-box.another {
  margin-bottom: -1px;
}

header .info-cont .txt-box span {
  font-size: 32px; 
  display: block;
  margin: 0 0 5px 4px;
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  font-weight: 700;
}

header .info-company {
  max-width: 1300px;
  margin: 250px auto 0;
  position: relative;
}

header .info-company .part-box {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

header .info-company .part-box p {
  margin-right: 16px;
  white-space:nowrap;

}

header .info-company .part-box .company-box {
  display: flex;
}


.scroll {
  width: 70px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  height: 100px;
}

.scroll p {
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.scroll .line {
  width: 2px;
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
  margin: 4px auto 0;
}

/* 線條動畫 */
.animation {
  animation: width 1.5s linear infinite;
}

@keyframes width {
  from {
    height: 0px;
  }
  to {
    height: 100px;
  }
}



                    /* 側邊按鈕 */
.side-button {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 999;

}

.side-button a i {
  font-size: 3rem;
  margin-bottom: 12px;
  display: block;
  position: relative;
}

.side-button a i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 30px;
  background-color: #151235;
  z-index: -1;
}

.side-button a .icon-iconmoon-fb {
  background: linear-gradient(to bottom, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to bottom, #A7EFFF, #6497FB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.side-button a .icon-iconmoon-fb:hover {
  background: linear-gradient(to bottom, #A7EFFF, #4A7EE4);
  background: -webkit-linear-gradient(to bottom, #A7EFFF, #4A7EE4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.side-button a .icon-iconmoon-line {
  background: linear-gradient(to bottom, #B1D08E, #7DB18D,#50968D);
  background: -webkit-linear-gradient(to bottom, #B1D08E, #7DB18D,#50968D);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.side-button a .icon-iconmoon-line:hover {
  background: linear-gradient(to bottom, #B1D08E, #64A578,#50968D);
  background: -webkit-linear-gradient(to bottom, #B1D08E, #64A578,#50968D);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.side-button a .icon-iconmoon-top {
  background: linear-gradient(to bottom, #DE5CB4, #A33683);
  background: -webkit-linear-gradient(to bottom, #DE5CB4, #A33683);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.side-button a .icon-iconmoon-top:hover {
  background: linear-gradient(to bottom, #E46DBD, #A33683);
  background: -webkit-linear-gradient(to bottom, #E46DBD, #A33683);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}


                      /* 內容統一設定 */
.main {
  padding: 170px 24px;
}

.main h3 {
  font-size: 2.2rem;
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}




                /* ------ 鼻腔說明 ------ */

.main.main01 {
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/line-back.svg");
  background-repeat: no-repeat;
  background-position-y: 180px;
}

.main01 .cont {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.main01 .cont .img-title img {
  margin: 0 auto;
  max-width: 40%;
}

.main01 .cont p {
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 1px;
  max-width: 900px;
  padding: 44px 24px;
  margin: 0 auto;
  position: relative;
}

.main01 .cont p::before {
  content: url("https://chingwei-kuo.github.io/designerspace/img/comma-icon.svg");
  position: absolute;
  width: 51px;
  height: 38px;
  top: 0;
  left: 0;
}

.main01 .cont p::after{
  content: url("https://chingwei-kuo.github.io/designerspace/img/comma-icon.svg");
  position: absolute;
  width: 51px;
  height: 38px;
  top: 0;
  right: 0;
}

.main01 .cont p .newline {
  display: block;
}

.main01 .cont .underline {
  width: 62px;
  height: 4px;
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
  margin: 10px auto 0;
}





                /* <!-- 鼻腔介紹-影片說明-內容一 --> */
.main02 {
  padding-top: 40px;
}

.main02 .intro-cont {
  max-width: 1200px;
  margin: 0 auto;
}

.main02 .intro-cont .cont-video h3 {
  text-align: center;
  position: relative;
}

.main02 .intro-cont .cont-video h3::after {
  position: absolute;
  top: -120px;
  right: 0;
  content: url("https://chingwei-kuo.github.io/designerspace/img/backtitle-circle.svg");
  opacity: 0.6;
}

.main02 .intro-cont .cont-video h3 .newline {
  display: block;
}

.main02 .intro-cont .cont-video .video-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

/* 影片暫時區塊 */
.main02 .intro-cont .cont-video .video-box .video {
  width: 48%;
  padding-bottom: 30%;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.main02 .intro-cont .cont-video .video-box .video::before {
  position: absolute;
  content: url("https://chingwei-kuo.github.io/designerspace/img/play-btn.png");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 結束 */


.main02 .intro-cont .cont-video .video-box .txt {
  width: 48%;
}
.main02 .intro-cont .cont-video .video-box .txt p {
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 1px;
}

.main02 .intro-cont .cont-video .video-box .txt a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 24px;
  color: #37357B;
  margin-right: 16px;
  margin-top: 40px;
}

.main02 .intro-cont .cont-video .video-box .txt .fblink {
  background: linear-gradient(to bottom, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to bottom, #A7EFFF, #6497FB);
}

.main02 .intro-cont .cont-video .video-box .txt .fblink:hover {
  background: linear-gradient(to bottom, #89DFF2, #4A7EE4);
  background: -webkit-linear-gradient(to bottom, #89DFF2, #4A7EE4);
  color: white;
}

.main02 .intro-cont .cont-video .video-box .txt .linelink {
  background: linear-gradient(to bottom, #B1D08E, #7DB18D,#50968D);
  background: -webkit-linear-gradient(to bottom, #B1D08E, #7DB18D,#50968D);
}

.main02 .intro-cont .cont-video .video-box .txt .linelink:hover {
  background: linear-gradient(to bottom, #94B86C, #7DB18D,#377B72);
  background: -webkit-linear-gradient(to bottom, #94B86C, #7DB18D,#377B72);
  color: white;
}



                /* <!-- 鼻腔構造說明 --> */
.main03 {
  background-color: #18174E;
}

.main03 .introduce-cont {
  max-width: 1200px;
  margin: 0 auto;
}


.main03 .introduce-cont h3 .newline {
  display: block;
}


/* 手機版圖案先隱藏 */
.main03 .introduce-cont .txt-img .image-mobile {
  display: none;
}


.main03 .introduce-cont .txt-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main03 .introduce-cont .txt-img .txt {
  width: 54%;
  margin-top: 60px;
  padding-right: 40px;
}

.main03 .introduce-cont .txt-img .txt p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.main03 .introduce-cont .txt-img .txt p .newline {
  display: block;
}

.main03 .introduce-cont .txt-img .txt-box {
  border: 2px solid #ddd;
  border-image: linear-gradient(#A7EFFF,#6497FB) 30 30;
  border-image: -webkit-linear-gradient(#A7EFFF,#6497FB) 30 30;
  border-image: -moz-linear-gradient(#A7EFFF,#6497FB) 30 30;
  border-image: linear-gradient(#A7EFFF,#6497FB) 30 30; 
  padding: 24px 40px;
  margin-top: 50px;
  margin-right: -60px;
  position: relative;
} 

.main03 .introduce-cont .txt-img .txt-box::before {
  content: url("https://chingwei-kuo.github.io/designerspace/img/frame-triangle-icon.svg");
  position: absolute;
  top: 50%;
  right: -50px;
}

.main03 .introduce-cont .txt-img .txt-box .caption {
  font-size: 1.5rem;
  font-weight: 500;
  color: #84EDFF;
  margin-bottom: 8px;
}

.main03 .introduce-cont .txt-img .image-pc {
  position: relative;
  width: 43%;
}

.main03 .introduce-cont .txt-img .image-pc img {
  margin-top: -40px;
}

.main03 .introduce-cont .txt-img .image-pc .light-icon {
  position: absolute;
  bottom: 24%;
  left: 44%;
}

/* 閃爍動畫 */
.blink {
  animation: twinkle 0.3s infinite alternate;
  display: block;
}

@keyframes twinkle {
  0%{
      opacity:0.2;
  }
  100%{
      opacity:1;
  }
}

.main03 .introduce-cont .intro-item {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.main03 .introduce-cont .intro-item .part {
  width: 46%;
  background-color: #4C458B;
  box-shadow: 10px 10px 0 #383176;
  padding: 54px 30px 180px 30px;
  position: relative;
}

.main03 .introduce-cont .intro-item .part .title {
  font-size: 2rem;
  color: #84EDFF;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.main03 .introduce-cont .intro-item .part .title span {
  font-size: 1.2rem;
  margin-left: 1px;
}

.main03 .introduce-cont .intro-item .part .txt-cont {
  height: 240px
}

.main03 .introduce-cont .intro-item .part p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 16px; 
}

.main03 .introduce-cont .intro-item .part  a {
  display: inline-block;
  padding: 12px 50px 12px 40px;
  border: 2px solid #ddd;
  border-image: -webkit-linear-gradient(#A7EFFF,#6497FB) 20 20;
  border-image: -moz-linear-gradient(#A7EFFF,#6497FB) 20 20;
  border-image: linear-gradient(#A7EFFF,#6497FB) 20 20; 
  position: relative;
  transition-duration: 0.3s;
}

.main03 .introduce-cont .intro-item .part a span {
  background: linear-gradient(to top, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 20px;
  font-weight: 500;
}

.main03 .introduce-cont .intro-item .part i {
  position: absolute;
  top: 45%;
  right: -50px;
  transform: translate(0, -50%);
  background: linear-gradient(to top, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 12px;
  transition-duration: 0.3s;
}

.main03 .introduce-cont .intro-item .part  a:hover {
  background: linear-gradient(to top, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
  border: 2px solid #4C458B;
  transition-duration: 0.3s;
   
}

.main03 .introduce-cont .intro-item .part  a:hover span {
  color: white;
}

.main03 .introduce-cont .intro-item .part  a:hover i {
  right: -60px;
  transition-duration: 0.3s;
  color: white;
}

.main03 .introduce-cont .intro-item .part img {
  position: absolute;
  bottom: 40px;
  right: 24px;
  width: 36%;
  opacity: 0.6;
}

.main03 .introduce-cont .intro-item .part .remark {
  position: absolute;
  bottom: 0;
  left: 30px;
  font-size: 14px;
}



           /* <!-- COVID-19疫苗常見問題--> */
.main04 {
  position: relative;
}

.main04 img {
  position: absolute;
  opacity: 1;
}

.main04 img.Virus-img01 {
  top: 8%;
  left: 18%;
  width: 9%;
}

.main04 img.Virus-img02 {
  top: 16%;
  left: 2%;
  width: 14%;
  opacity: 0.5;
}

.main04 img.Virus-img03 {
  top: 2%;
  right: 18%;
  width: 13%;
  opacity: 0.5;
}

.main04 img.Virus-img04 {
  top: 16%;
  right: 2%;
  width: 12%;
}





.main04 .question-cont {
  max-width: 1200px;
  margin: 0 auto;
}

.main04 .question-cont .fontsize-l {
  font-size: 70px;
  font-weight: 700;
  margin-right: 4px;
  font-style: italic;
}

.main04 .question-cont > p {
  font-size: 18px;
  text-align: center;
  max-width: 820px;
  margin: 10px auto 20px;
  line-height: 32px;
  letter-spacing: 1px;
  position: relative;
}

.main04 .question-cont > p::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  width: 62px;
  height: 4px;
  background-color: white;
}

.main04 .question-cont .qa-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px;
}

.main04 .question-cont .qa-item .part {
  width: 44%;
  margin-bottom: 90px;
}

.main04 .question-cont .qa-item .part .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main04 .question-cont .qa-item .part .title  p {
  font-size: 20px;
  font-weight: 500;
  max-width: 400px;
}

.main04 .question-cont .qa-item .part .title p.number {
  font-size: 2rem;
  color: #1F1E57;
  font-weight: 700;
  font-style: italic;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: linear-gradient(to top, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
  text-align: center;
  line-height: 55px;
  margin-right: 12px;
}

.main04 .question-cont .qa-item .part .answer {
  font-size: 16px;
  color: #F4F4F4;
}

.main04 .question-cont .qa-item .part .answer a {
  color: #75C4F8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  position: relative;
}

.main04 .question-cont .qa-item .part .answer a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 12px;
  width: 0;
  height: 1px;
  background-color: #C1E6FF;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.main04 .question-cont .qa-item .part .answer a:hover {
  color: #C1E6FF;
  font-weight: 500;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.main04 .question-cont .qa-item .part .answer a:hover::before {
  width: 95%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.main04 .question-cont .qa-item .part .answer {
  margin-bottom: 8px;
  line-height: 28px;
}

.main04 .question-cont .link-cont {
  text-align: center;
  margin-top: 16px;
}

.main04 .question-cont .link-cont p.remark {
  font-size: 14px;
}

.main04 .question-cont .link-cont p {
  font-size: 1.5rem;
  margin-top: 6px;
}


.main04 .question-cont .link-cont a {
  display: inline-block;
  padding: 12px 50px 12px 40px;
  border: 2px solid #ddd;
  border-image: -webkit-linear-gradient(#A7EFFF,#6497FB) 20 20;
  border-image: -moz-linear-gradient(#A7EFFF,#6497FB) 20 20;
  border-image: linear-gradient(#A7EFFF,#6497FB) 20 20; 
  position: relative;
  transition-duration: 0.3s;
  margin-top: 36px;
}

.main04 .question-cont .link-cont a span {
  background: linear-gradient(to top, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 20px;
  font-weight: 500;
}

.main04 .question-cont .link-cont a i {
  position: absolute;
  top: 45%;
  right: -50px;
  transform: translate(0, -50%);
  background: linear-gradient(to top, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  font-size: 12px;
  transition-duration: 0.3s;
}

.main04 .question-cont .link-cont a:hover {
  background: linear-gradient(to top, #A7EFFF, #6497FB);
  background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
  border: 2px solid #4C458B;
  transition-duration: 0.3s;
   
}

.main04 .question-cont .link-cont a:hover span {
  color: white;
}

.main04 .question-cont .link-cont a:hover i {
  right: -60px;
  transition-duration: 0.3s;
  color: white;
}




          /* <!-- 肺炎鏈球菌疫苗接種建議 --> */
.main05 {
  background-color: #1F1E57;
  position: relative;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/bottom-circle-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-left: 0;
  padding-right: 0;
}

.main05 .virus-10, .main .virus-11 {
  position: absolute;
  opacity: 0.2;
}

.main05 .virus-10 {
  top: 10%;
  left: 0;
  width: 25%;
  z-index: 999;
}

.main05 .virus-11 {
  top: 13%;
  right: 0;
  width: 24%;
  z-index: 10;
}


.main05 .suggestion-cont .txt-cont h3 span{
  font-size: 60px;
  font-style: italic;
  margin-right: 4px;
}

.main05 .suggestion-cont .txt-cont  > p {
  margin: 20px 0 40px 0;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  padding: 0 16px;
}

.main05 .suggestion-cont .txt-cont  > p .newline {
  display: block;
}

.main05 .suggestion-cont .txt-cont .poitn-txt {
  background-color: #2C3369;
  padding: 40px 0;
  /* position: absolute;
  top: 22%;
  left: 0; */
  width: 80%;
}

.main05 .suggestion-cont .txt-cont .poitn-txt .txt {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 42%;
}

.main05 .suggestion-cont .txt-cont .poitn-txt .txt.another {
  margin: 10px 0 10px 48%;
}

.main05 .suggestion-cont .txt-cont .poitn-txt .txt img {
  width: 30px;
  height: auto;
  margin-right: 4px;
}

.main05 .suggestion-cont .txt-cont .poitn-txt .txt p {
  font-size: 1.5rem;
  color: #8DEEA1;
}

.main05 .suggestion-cont .txt-cont .drowdown-line {
  height: 100px;

}

.main05 .suggestion-cont .txt-cont .drowdown-line .line {
  width: 1px;
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
  margin: 60px auto 0;
  position: relative;
}

.main05 .suggestion-cont .txt-cont .drowdown-line .line::after {
  position: absolute;
  bottom: -8px;
  left: -6px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
}



          /* ----- 輪播區域 ------ */


.main05 .swiper-cont {
  padding-top: 100px;
}
.main05 .swiper-cont .suggestion-Swiper {
  max-width: 1400px;
  margin: 0 auto;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide {
  padding: 0 100px 50px 100px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .img-left {
  margin-right: -100px;
  z-index: 99;
  width: 34%;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .img-left .title {
  font-size: 2rem;
  font-weight: 500;
  color: #8DEEA1;
  position: relative;
  margin-bottom: 34px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .img-left .title::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #8DEEA1;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right {
  background-color: #36256C;
  width: 1200px;
  position: relative;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 180px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right > img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont.old .txt-right > img {
  top: 19%;
  right: 2%;
  width: 31%;
  opacity: 0.7;

}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption {
  padding: 16px 0;
  width: 200px;
  text-align: center; 
  background-color: rgba(102, 86, 139, 0.2);
  margin-right: 24px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption.color02 {
  background-color: rgba(102, 86, 139, 0.3);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption.color03 {
  background-color: rgba(102, 86, 139, 0.4);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption.color04 {
  background-color: rgba(102, 86, 139, 0.5);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption.color05 {
  background-color: rgba(102, 86, 139, 0.6);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption p {
  font-size: 20px;
  color: #8DEEA1;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption .newline {
  display: block;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .caption .fontsize-s {
  font-size: 18px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .options {
  font-size: 19px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(136, 183, 255, 0.3);
  line-height: 60px;
  text-align: center;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .options.another {
  background-color: rgba(133, 86, 164, 0.6);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part.another .caption{
  margin-right: 45px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part.another .options {
  margin-left: -14px;
  margin-right: 16px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part.another .time {
  margin-right: 24px;
}



.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .time {
  font-size: 19px;
  position: relative;
  width: 90px;
  padding-left: 24px;
  /* text-align: center; */  
}
.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .time::after {
  content: url("https://chingwei-kuo.github.io/designerspace/img/g-aoorw-Triangle.svg");
  position: absolute;
  right: 20px;
  top: 53%;
  transform: translate(0, -50%);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .more-part {
  display: flex;
  flex-direction: column;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .more-part .part-options {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .box {
  display: flex;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .box .time.another::after {
  right: 30px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont .txt-right .cont .part .part-options .remark {
  margin-left: 28px;
  margin-top: 12px;
}


/* 18歲以上未滿65歲族 */

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult
.txt-right {
  background-color: #313B72;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part {
  margin: 30px 0;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part .caption {
  background-color: rgba(31, 30, 87, 0.2);
}


.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part.another .time {
  margin: 0;
  padding-left: 14px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part.another .time::after {
  right: 28px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part .caption.color02 {
  background-color: rgba(31, 30, 87, 0.3);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part .caption.color03 {
  background-color: rgba(31, 30, 87, 0.4);
  height: auto;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part .caption.color04 {
  background-color: rgba(31, 30, 87, 0.5);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
.txt-right .cont .part .caption.color05 {
  background-color: rgba(31, 30, 87, 0.6);
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont.aldult .txt-right > img {
  bottom: 30px;
  right: 40px;
  opacity: 0.6;
}


/* 青少年高危險群 */
.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont.young .txt-right {
  justify-content: flex-start;
  padding-top: 100px;
  background-color: #3E367A;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide 
.part-cont.young .txt-right > img {
  right: 26px;
  bottom: 36px;
  opacity: 0.6;
}


.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young
.txt-right .cont .part {
  margin: 30px 0;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young
.txt-right .cont .remark {
  margin-top: 40px;
  padding-right: 24px;
}

.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young
.txt-right .cont .remark p {
  font-size: 16px;
  margin-bottom: 12px;
}

/* 輪播分頁氣 按鈕樣式設定 */

.swiper-button-next:after, .swiper-button-prev:after {
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background: linear-gradient(to top, #85EFD8, #AFD981);
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 50px;
  border-radius: 25px;
  background-color: white;
}

/* pc先隱藏圖片 */
.main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .mobile {
  display: none;
}


  /* -------表尾------- */
footer {
  background-color: #1F1E57;
  padding: 0 24px 60px;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/background-bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

footer .company-cont {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

footer .company-cont .part {
  display: flex;
  align-items: center;
}

footer .company-cont .m-line {
  width: 1px;
  height: auto;
  background: linear-gradient(to top, #85EFD8, #AFD981);
  background: -webkit-linear-gradient(to top, #85EFD8, #AFD981);
}

footer .company-cont .part p {
  white-space:nowrap;
  margin-right: 12px;
}


/* RWD-start */
@media screen and (max-width:1440px) {
  /* 表頭 */
  header {
    padding-left: 40px;
  }

  header .info-cont .main-title {
    margin-top: 0;
    padding-top: 40px;
  }

  header .info-company {
    margin-top: 280px;
  }

  .main.main01 {
    padding: 140px 24px;
  }


  .main04 .question-cont .qa-item .part .title p.number {
    flex: none;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt {
    width: 90%;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt {
    margin-left: 36%;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt.another {
    margin-left: 40%;
  }

  /* 輪播區 */
  .main05 .swiper-cont .suggestion-Swiper .swiper-slide {
    padding: 0 36px 50px 36px;
  }

  footer .company-cont .part p {
    font-size: 14px;
  }

  footer .company-cont .part img {
    max-width: 70%;
  }
 
}

@media screen and (max-width:1090px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 100px;
  }

  header .info-cont .main-title {
    margin-bottom: -50px;
  }

  header .info-company {
    max-width: auto;
    margin: 0;
  }

  main {
    padding: 160px 36px;
  }


  .main03 .introduce-cont .txt-img .image-pc img {
    margin-top: 0;
  }

  .main03 .introduce-cont .txt-img .image-pc .light-icon {
    bottom: 22%;
  }

  .main03 .introduce-cont .intro-item .part {
    width: 48%;
  }

  .main03 .introduce-cont .intro-item .part .txt-cont {
    height: 300px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left {
    width: 40%;
    margin-right: -160px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title {
    font-size: 28px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .part-options .remark {
    margin-right: 24px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young .txt-right {
    padding-left: 200px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .caption.color05 {
    flex: none;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt {
    width: 100%;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt {
    margin-left: 25%;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt.another {
    margin-left: 30%;
    margin-top: 24px;
  }



  footer {
    padding: 0 24px 32px;
  }

  footer .company-cont {
    flex-direction: column;
    align-items: center;

  }
  footer .company-cont .part {
    margin: 8px 0;
  }

  footer .company-cont .m-line {
    display: none;
  }

}

  @media screen and (max-width:996px) {
    html, body {
      font-size: 14px;
    }

    header {
      padding-left: 60px;
    }

    header .info-cont .main-title {
      margin-bottom: -24px;
    }

    header .info-cont .main-title img {
      display: none;
    }

    header .info-cont .main-title .mobeil-title {
      display: block;
      margin-top: 24px;
    }

    .main02 .intro-cont .cont-video .video-box {
      flex-wrap: wrap;
      justify-content: center;
    }

    .main02 .intro-cont .cont-video .video-box .video {
      width: 100%;
      padding-bottom: 50%;
    }

    .main02 .intro-cont .cont-video .video-box .txt {
      width: 100%;
      text-align: center;
      margin-top: 60px;
    } 

    .main03 .introduce-cont .txt-img .image-pc {
      width: 50%;
    }

    .main02 .intro-cont .cont-video .video-box .txt a {
      margin: 40px 12px 0;
    }


    .main03 .introduce-cont .txt-img .txt {
      width: 50%;
    }

    .main03 .introduce-cont .txt-img .txt-box {
      padding: 24px;
    }

    .main03 .introduce-cont .intro-item {
      flex-wrap: wrap;
    }

    .main03 .introduce-cont .intro-item .part {
      width: 100%;
      margin-bottom: 60px;
    }

    .main03 .introduce-cont .intro-item .part .txt-cont {
      height: auto;
    }

    .main03 .introduce-cont .intro-item .part .title {
      text-align: center;
    }

    .main03 .introduce-cont .intro-item .part a span {
      text-align: left;
    }

    .main03 .introduce-cont .intro-item .part a {
      margin-top: 40px;
    }


    .main03 .introduce-cont .intro-item .part img {
      width: 25%;
    }

    .main04 .question-cont .qa-item .part {
      width: 48%;
    }

    /* 輪播區 */
    .main05 .swiper-cont {
      padding-top: 54px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide {
      padding: 0 20px 50px 20px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont {
      flex-wrap: wrap;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;  
      padding: 24px ;
      position: relative;
      height: 140px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title .newline {
      display: block;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.old .img-left {
      background: linear-gradient(to top, #D6A7FF, #A966F5);
      background: -webkit-linear-gradient(to top, #D6A7FF, #A966F5);
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .img-left {
      background: linear-gradient(to top, #A7EFFF, #6497FB);
      background: -webkit-linear-gradient(to top, #A7EFFF, #6497FB);
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young .img-left {
      background: linear-gradient(to top, #AB94EF, #7E59FF);
      background: -webkit-linear-gradient(to top, #AB94EF, #7E59FF);
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title {
      font-size: 32px;
      color: white;
      margin-bottom: 0;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title::before {
      background-color: white;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide {
      padding-top: 70px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont 
    .img-left .people-img {
      text-align: center;
      width: 25%;
      /* position: absolute;
      bottom: 0;
      right: 24px;
      z-index: 9999; */
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont 
    .img-left img {
      display: none;

    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont 
    .img-left .mobile {
      display: block;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right {
      width: 100%;
      padding: 0 16px;
    }


    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .caption {
      margin-right: 9px;
    }
    

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part.another .caption {
      margin-right: 18px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .txt-right .cont .part.another .time {
      padding-left: 26px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .txt-right .cont .part.another .time::after {
      right: 16px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part.another .time {
      margin-right: -3px;

    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part.another .options {
      margin-left: 2px;
      margin-right: -1px;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young .txt-right {
      padding: 30px 16px 0;
    }

    .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .txt-right .cont .part .caption {
      flex: none;
    }

}

@media screen and (max-width:767px) {
  html, body {
    font-size: 13px;
  }

  header {
    background-position: right -100px top ;
    padding-left: 24px;
  }

  header .info-cont .main-title {
    padding-top: 0;
  }

  header .info-cont .main-title .mobeil-title {
    margin-bottom: 60px;
    width: 100%;
  } 


  header .info-cont .txt-box {
    position: relative;
    margin-bottom: 4px;
  }

  header .info-cont .txt-box.another {
    margin-bottom: 4px;
  }


  header .info-cont .txt-box span {
    position: absolute;
    top: -60px;
    left: 42%;
    transform: translate(-42%);
  }

  header .info-company .part-box .company-box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  header .info-company .part-box .company-box .img-01 {
    margin-left: -6px;
    margin-top: 6px;
  }

  .side-button {
    bottom: 20px;
    right: 16px;
  }

  .main {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .main01 .cont p::after,
  .main01 .cont p::before {  
    top: -16px;
  }
/* 
  .main01 .cont p .newline {
    display: inline;
  } */

  .main01 .cont .img-title img {
    max-width: 40%;
  }

  .main02 {
    padding-top: 60px;
  }

  .main03 .introduce-cont .txt-img .image-pc {
    display: none;
  }
  
  .main03 .introduce-cont .txt-img .image-mobile {
    display: block;
    position: relative;
  }

  .main03 .introduce-cont .txt-img .image-mobile img {
    margin: 0 auto;
  }

  .main03 .introduce-cont .txt-img .image-mobile  .light-icon {
    position: absolute;
    bottom: 30%;
    left: 44%;
  }

  .main03 .introduce-cont .txt-img {
    justify-content: center;
  }

  .main03 .introduce-cont .txt-img .txt {
    width: 100%;
    padding-right: 0;
    margin-top: 32px;
  }

  .main03 .introduce-cont .txt-img .txt-box {
    margin-right: 0;
    margin-top: 70px;
  }

  .main03 .introduce-cont .txt-img .txt-box::before {
    right: 48%;
    top: -50px;
    transform: rotate(-90deg);
  }

  .main04 img.Virus-img01 {
    left: 8%;
    top: 3%;
    width: 11%;
  }

  .main04 .question-cont .fontsize-l {
    font-size: 60px;
  }

  .main04 .question-cont > p {
    padding-bottom: 24px;
  }

  .main04 .question-cont > p::before {
    top: 102%;
  }

  .main04 .question-cont .qa-item {
    margin-top: 60px;
  }

  .main04 .question-cont .qa-item .part {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
    border-bottom: 1px solid #4A7EE4;
    padding-bottom: 40px;
  }

  .main04 .question-cont .qa-item .part .title p {
    max-width: 100%;
  }

  .main04 .question-cont .link-cont {
    margin-top: 60px;
  }

  .main05 .suggestion-cont .txt-cont h3 span {
    font-size: 50px;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt {
    top: 18%;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt {
    margin-left: 16%;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt.another {
    margin-left: 20%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .caption {
    width: 140px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .caption p {
    font-size: 16px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .caption .fontsize-s {
    font-size: 14px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .options {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .time {
    font-size: 16px;
    width: 80px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont .part .time::after {
    right: 15px;
    top: 54%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .txt-right .cont .part.another .time::after {
    right: 14px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young .txt-right .cont .part.another .time::after {
    top: 56%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.old .txt-right .cont .part.another .time::after {
    top: 56%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title::before {
    bottom: -8px;
    height: 2px;
  }
 

  footer .company-cont .part {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

}


@media screen and (max-width:640px) {
  html, body {
    font-size: 12px;
  }

  header {
    background-position: right -200px bottom;
  }


  header .info-cont .txt-box span {
    font-size: 28px;
    left: 40%;
    top: -50px;
  }

  header .info-cont .txt-box {
    font-size: 20px;
    margin-left: 22px;
  }

  header .info-cont .txt-box .date::before {
    left: -16px;
    width: 5px;
    height: 5px;
  }






  .scroll {
    margin-top: 30px;
  }

  .main {
    padding: 80px 24px;
  }



  .main01 .cont .img-title img {
    max-width: 30%;
  }

  .main02 .intro-cont .cont-video .video-box .txt p {
    font-size: 18px;
  }

  .main02 .intro-cont .cont-video .video-box .txt a {
    width: auto;
    margin: 40px 6px 0;
  }


  .main03 .introduce-cont .txt-img .image-mobile .light-icon {
    left: 43%;
  }

  .main05 {
    padding: 100px 0;
  }

  .main05 .suggestion-cont .txt-cont h3 {
    padding: 0 24px;
  }

  .main05 .suggestion-cont .txt-cont h3 span {
    display: block;
    margin-bottom: -10px;
  }


  .main05 .suggestion-cont .txt-cont .poitn-txt {
    padding: 40px 24px;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt {
    margin-left: 11%;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt.another {
    margin-left: 15%;
  }

  .main05 .suggestion-cont .txt-cont .drowdown-line {
    height: 80px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .people-img {
    bottom: 10px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title {
    font-size: 28px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right {    
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-bottom: 100%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young .txt-right {
    background-image: url("https://chingwei-kuo.github.io/designerspace/img/people-kd.svg");
    background-position: center top 30%;
    padding-bottom: 90%;
    background-size: 80%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .txt-right {
    background-image: url("https://chingwei-kuo.github.io/designerspace/img/people-ad.svg");
    background-size: 80%;
  }
  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.old .txt-right {
    background-image: url("https://chingwei-kuo.github.io/designerspace/img/people-ol.svg");
    background-size: 85%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .txt-right .cont {
    display: none;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.young .txt-right > img {
    max-width: 30%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .txt-right > img {
    max-width: 20%;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.old 
  .img-left .people-img {
    bottom: 0;
  }

}

@media screen and (max-width:480px) {
  header {
    padding-left: 16px;
    padding-bottom: 24px;
    background-position: right -120px bottom;
    height: 90vh;
  }

  header .info-cont .main-title .mobeil-title {
    margin-bottom: 50px;
    margin-left: 16px;
  }


  header .info-cont .txt-box span {
    font-size: 20px;
    left: 45%;
    top: -35px;    
  }

  header .info-cont .txt-box {
    font-size: 15px;
    font-weight: 400;
    margin-left: 16px;
  }

  header .info-company .part-box {
    margin-bottom: 10px; 
  }

  header .info-company .part-box p {
    margin-left: 12px;
  }

  header .info-company .part-box .company-img01 {
    width: 30%;
  }

  header .info-company .part-box .company-img02 {
    width: 30%;
  }

  header .info-company .part-box .company-box .img-01 {
    max-width: 40%;
  }

  .main h3 {
    font-size: 24px;
  }




  .side-button a i::after {
    width: 20px;
    height: 24px;
  }

  .main.main01 {
    padding: 80px 24px;
    background-position-y: 90px;
  }

  .main01 .cont p {
    font-size: 16px;
    padding: 24px 24px 0;
  }

  .main01 .cont p::after,
  .main01 .cont p::before {
    content: "";
    background-image: url("https://chingwei-kuo.github.io/designerspace/img/comma-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 0;
  }

  .main02 .intro-cont .cont-video h3::after {
    top: -80px;
  }

  .main02 .intro-cont .cont-video .video-box {
    margin-top: 40px;
  }

  .main02 .intro-cont .cont-video .video-box .txt {
    margin-top: 40px;
  }

  .main02 .intro-cont .cont-video .video-box .txt p {
    font-size: 16px;
  }

  .main02 .intro-cont .cont-video .video-box .txt a {
    font-size: 18px;
  }

  .main03 .introduce-cont .txt-img .image-mobile .light-icon {
    left: 42%;
  }
  
  .main03 .introduce-cont .txt-img .txt p {
    font-size: 16px;
    line-height: 1.6;
  }

  .main03 .introduce-cont .txt-img .txt {
    margin-top: 20px;
  }

  .main03 .introduce-cont .txt-img .txt-box::before {
    right: 40%;
  }

  .main03 .introduce-cont .intro-item .part p {
    font-size: 16px;
  }

  .main03 .introduce-cont .intro-item .part {
    padding: 50px 20px 100px;
  }

  .main03 .introduce-cont .intro-item .part .remark {
    font-size: 12px;
    left: 20px;
  }

  .main03 .introduce-cont .intro-item .part a {
    padding: 12px 20px 20px;
    margin-top: 20px;
  }

  .main03 .introduce-cont .intro-item .part a span {
    font-size: 18px;
  }

  .main03 .introduce-cont .intro-item .part i {
    top: 73%;
    right: -29px;
  }

  .main03 .introduce-cont .intro-item .part img {
    bottom: 87px;
    right: 48px;
    width: 30%;
  }

  .main03 .introduce-cont .intro-item .part .another-img {
    bottom: 21px;
    right: 24px;
    width: 32%;
  }

  .main04 .question-cont .fontsize-l {
    font-size: 40px;
  }

  .main04 .question-cont > p {
    font-size: 16px;
    line-height: 1.6;
  }

  .main04 .question-cont .qa-item .part .title p.number {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .main04 .question-cont .link-cont p.remark {
    font-size: 12px;
  }

  .main04 .question-cont .link-cont a span {
    font-size: 18px;
  }

  .main05 .suggestion-cont .txt-cont h3 span {
    font-size: 40px;
    display: block;
    margin-bottom: -6px;
  }

  .main05 .suggestion-cont .txt-cont > p {
    font-size: 16px;
    line-height: 1.6;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt {
    margin-left: 0;
  }

  .main05 .suggestion-cont .txt-cont .poitn-txt .txt.another {
    margin-left: 0;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title {
    font-size: 22px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .people-img {
    width: 30%;
  }


  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont .img-left .title::before {
    height: 2px;
    bottom: -6px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont
  .img-left .title {
    width: 177px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult 
  .img-left .title .newline {
    display: inline;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide {
    padding-top: 40px;
  }

  .main05 .swiper-cont .suggestion-Swiper .swiper-slide .part-cont.aldult .img-left {
    height: 120px;
  }

  footer .company-cont .part img.img01 {
    max-width: 50%;
  }

  footer .company-cont .part img.img02 {
    max-width: 50%;
  }

  footer .company-cont .part p {
    font-size: 12px;
  }


}

  





  














































































































































































































