html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a {
  cursor: pointer;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

:focus {
  outline: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


html[xmlns] .clearfix {
  display: block;
}


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}



html, body {
  font-family: 'Noto Sans TC', 'Archivo', Arial, Helvetica, "Microsoft JhengHei", PingFang, sans-serif;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  color: #505050;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  min-width: 375px;
}

.menu {
  position: fixed;
  background-color: #BC0909;
  width: 100%;
  z-index: 2;
}

#whiteElement {
  transition: all 0.3s ease-in-out;
}

.menu ul {
  display: flex;
  justify-content: center;
}

.menu ul li {
  z-index: 999;
}

.menu ul li a {
  display: block;
  padding: 20px 30px;
  color: white;
  font-weight: 500;
  transition: all 0.3s;
}


.menu ul li a:hover {
  color: #BC0909;
  background-color: white;
}

.menu ul li a.active {
  color: #BC0909;
  /* background-color: white; */
}



/* header--------------------------------------------- */

header {
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/top-back.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;  
}


header .circle01 {
  position: absolute;
  max-width: 100px;
  left: 20%;
  top: 20%;
}


header .circle02 {
  position: absolute;
  width: 180px;
  left: 5%;
  bottom: 30%;
  opacity: 0.7;
}


header .circle03 {
  position: absolute;
  width: 140px;
  right: 5%;
  top: 20%;
  opacity: 0.6;
}


header .circle04 {
  position: absolute;
  width: 100px;
  right: 30%;
  bottom: 20%;
}


header .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header .cont h2 {
  font-size: 54px;
  font-family: 'Archivo', sans-serif;
  color: white;
  font-weight:900;
  margin-bottom: 8px;
  text-align: center;
}

header .cont img {
  padding-top: 20px;
  position: relative;

    /* animation 參數設定 */
    animation-name: MoveToRight;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;    /*動畫持續時間，單位為秒*/
    /* animation-delay: 2s;    動畫延遲開始時間 */
    animation-iteration-count:  infinite;    /*動畫次數，infinite 為無限次*/  
    animation-timing-function:  ease-in-out;
    animation-direction:alternate

}

@keyframes MoveToRight {
  from { top: 0; }
  to { top: 50px; }
}



/* 大標題統一設定-------------------------- */
.main-title {
  display: flex;
  align-items: center;
}

.main-title .arrow-left {
  width: 120px;
  margin-right: 12px;
}

.main-title h3 {
  font-weight: 700;
  color: #322F2F;
  font-size: 48px;
}





/* 關於我-------------------------------- */

.about {
  max-width: 1232px;
  margin: 0 auto;
  padding: 100px 16px 60px;
}

.about .cont .intro {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.about .cont .intro .mephoto {
  width: 32%;
  object-fit: contain;
}

.about .cont .intro .txt {
  width: 60%;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/circle-three-outline.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  padding-bottom: 2%;
  margin-left: -60px;
}

.about .cont .intro .txt p {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
}

.about .cont .intro .txt .tool-img {
  display: flex;
  margin-top: 8px;
}

.about .cont .intro .txt .tool-img img {
  margin-right: 3%;
  width: 10%;
}


.about .cont > .title {
  font-size: 32px;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/txt-outline.svg");
  background-repeat: no-repeat; 
  background-size: 100%;
  width: 220px;
  height: 90px;
  line-height: 60px;
  padding-left: 20px;
  display: inline-block;
  margin-top: 60px;
}


.about .cont .experience  {
  display: flex;
  justify-content: space-between;
}

.about .cont .experience .part {
  width: 30%;
}

.about .cont .experience .part .time {
  color: #BC0909;
  font-size: 20px;
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
}

.about .cont .experience .part .time span {
  font-size: 24px;
}

.about .cont .experience .part .job {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 14px;
}

.about .cont .experience .part .job p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.about .cont .experience .part .job .line {
  width: 2px;
  height: 15px;
  background-color: #BC0909;
  margin: 0 12px;
  transform: rotate(30deg);
}

.about .cont .experience .part ul li {
  line-height: 2;
}




/* 文宣物設計--------------------------- */
.posm {
  position: relative;
  padding-top: 260px;
  max-width: 1920px;
  margin: 0 auto;
}

.posm .main-title {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);  
  -webkit-transform: translate(-50%);
}

.posm .title {
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/title-outline-left-new.svg");
  height: 320px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  background-position: right -600px center;
}

.posm .title h4 {
  font-size: 30px;
  font-weight: 700;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/txt-outline-w.svg");
  background-repeat: no-repeat;
  width: 220px;
  height: 78px;
  color: white;
  text-align: center;
  line-height: 64px;
}



/* 統一小標樣式設定 */
.caption {
  display: inline-block;
  margin: 40px 0 100px;
}

.caption h5{
  font-size: 22px;
  color: #BC0909;
  font-weight: 700;
  padding: 16px 24px 8px ;
  position: relative;
  display: inline-block;
}

.caption h5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #BC0909;
}



/* 統一內文說明文字樣式設定 */
h6 {
  font-size: 20px;
  font-weight: 700;
  color: #505050;
  line-height: 1.5;
  margin-bottom: 12px;
}




/* 視覺海報---------------------- */
.posm .poster-entxt {
  position: absolute;
  top: 0;
  left: 2%;
  width: 60%;
}

.posm .poster {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.posm .poster .cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posm .poster .cont > img {
  width: 24%;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 2%;
}

.posm .poster .cont > img:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2,1.2);
  box-shadow: 0 0 20px #505050;
}

.posm .poster .cont .poster-another {
  width: 100%;
  display: flex;
  margin-bottom: 200px;
}

.posm .poster .cont .poster-another img {
  width: 40%;
  margin-right: 30px;
}

.posm .poster .cont .poster-another .caption.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posm .poster .cont .poster-another .caption.left h5 {
  padding-left: 0;
}



/* 手冊編排------------------ */
.handbook {
  position: relative;
}

.handbook > img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  padding: 0 16px;
  margin-bottom: 80px;
}


.handbook .caption {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

.handbook .part {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

.handbook .part .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.handbook .part .intro.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.handbook .part .intro.reverse .txt {
  margin-left: 36px;
}

.handbook .part .intro .txt {
  width: 50%;
}

.handbook .part .intro .txt p {
  line-height: 1.8;
  margin-bottom: 16px;
}

.handbook .part .intro img {
  width: 40%;
}

.handbook .part .img-box {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.handbook .part .img-box img {
  width: 49%;
  transition: all 0.3s;
  /* cursor: pointer; */
}

.handbook .part .img-box img:hover {
  transform: scale(1.2 ,1.2);
  -webkit-transform: scale(1.2 ,1.2);
  border: 6px solid white;
  box-shadow: 0 0 20px #505050;
}

.handbook .grayline {
  width: 100%;
  height: 7px;
  background-color: #DADADA;
  margin: 100px 0;
}


/* 摺頁DM */
.dm-cont .txt-img {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.dm-cont .txt-img .caption.left {
  width: 20%;
}

.dm-cont .txt-img .caption.left h5 {
  padding-left: 0;
}

.dm-cont .txt-img img {
  width: 70%;
}

.dm-cont .img-box {
  max-width: 1400px;
  margin: 24px auto 100px;
  display: flex;
  justify-content: space-between;
}

.dm-cont .img-box .imgleft {
  width: 52%;
}

.dm-cont .img-box .imgright {
  width: 46%;
}



/* 活動視覺設計 */
.activity {
  padding-top: 100px;
}

.activity .title {
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/title-outline-right-new.svg");
  height: 320px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  background-position: left -400px center;
}

.activity .title h4 {
  font-size: 30px;
  font-weight: 700;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/txt-outline-w.svg");
  background-repeat: no-repeat;
  width: 220px;
  height: 78px;
  color: white;
  text-align: center;
  line-height: 64px;
}


.activity .cont {
   max-width: 1232px;
   margin: 0 auto;
   padding: 0 16px;
}


.activity .cont .caption {
  margin-bottom: 0;
  margin-top: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
}


.activity .cont .caption h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
}

.activity .cont .master-vision {
  width: 100%;
}

.activity .cont .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}

.activity .cont .intro img {
  width: 54%;
}


.activity .cont .intro .txt {
  width: 40%;
  position: relative;
}

.activity .cont .intro .txt p {
  line-height: 1.7;
}


.activity .cont .intro .txt img {
  position: absolute;
  top: -14%;
  left: 4%;
}

.activity .cont .flag {
  width: 100%;
}


.activity .cont .img-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.activity .cont .img-box .card {
  width: 56%;
}

.activity .cont .img-box .ticket {
  width: 42%;
  display: flex;
  justify-content: space-between;
}

.activity .cont .img-box .ticket img {
  width: 48%;
}


/* 品牌視覺設計 */
.brand {
  padding-top: 100px;
}

.brand .title {
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/title-outline-left-new.svg");
  height: 320px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  background-position: right -600px center;
  margin-bottom: -150px;
  z-index: 1;
  position: relative;
}

.brand .title h4 {
  font-size: 30px;
  font-weight: 700;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/txt-outline-w.svg");
  background-repeat: no-repeat;
  width: 220px;
  height: 78px;
  color: white;
  text-align: center;
  line-height: 64px;
}

.brand .part {
  background-color: #143756;
  padding: 250px 16px 0;
}

.brand .part .intro {
  max-width: 1200px;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand .part .intro .txt {
  width: 40%;
  position: relative;
}

.brand .part .intro .txt .healthy {
  position: absolute;
  top: -20%;
  right: 0;
  width: 70%;
}

.brand .part .intro .txt h6 {
  color: white;
}

.brand .part .intro .txt p {
  line-height: 1.7;
  margin-bottom: 16px;
  color: white;
}

.brand .part .intro .card {
  width: 52%;
}

.brand .part .banner {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.brand .part .img-box {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.brand .part .img-box img {
  width: 48%;
}

.brand .part .package {
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand .part .package h6 {
  color: white;
  margin-top: -100px;
}

.brand .part .package p {
  color: white;
  line-height: 1.7;
  text-align: center;
  max-width: 680px;
}

.brand .part .package .cont-1 {
  margin-top: 100px;
  margin-bottom: 24px;
}


.brand .part .package .img-box {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 100px;
}

.brand .part .package .img-box img {
  width: 49%;
}


/* 妹朵莉----------- */
.brand .part.another {
  background-color: #A04658;
}

.brand .part.another .item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.brand .part.another .item .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.brand .part.another .item .intro .txt {
  width: 100%;
  position: relative;
}


.brand .part.another .item .intro .txt .beauty {
  position: absolute;
  top: -15%;
  right: 0;
  width: 60%;
}


.brand .part.another .item .intro .txt p {
  margin-bottom: 48px;
}


.brand .part.another .item .metori-edm {
  width: 40%;
}





/* uidesign-------------------- */ 
.uidesign {
  padding-top: 200px;
  position: relative;
}

.uidesign .uientxt {
  position: absolute;
  top: 30%;
  right: 0;
}

.uidesign .title {
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/title-outline-right-new.svg");
  height: 320px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  background-position: left -400px center;
}

.uidesign .title h4 {
  font-size: 30px;
  font-weight: 700;
  background-image: url("https://chingwei-kuo.github.io/designerspace/img/txt-outline-w.svg");
  background-repeat: no-repeat;
  width: 220px;
  height: 78px;
  color: white;
  text-align: center;
  line-height: 64px;
}


.uidesign .part {
  display: flex;
  align-items: center;
  max-width: 1232px;
  margin: 0 auto;
  padding: 100px 16px 0;
}

.uidesign .part .img-box {
  width: 60%;
  cursor: pointer;
  overflow: hidden;
  display: block;
}

.uidesign .part .img-box img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}


.uidesign .part .img-box img:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}

.uidesign .part .txt {
  width: 36%;
  margin-left: 2%;
}

.uidesign .part .txt .caption.left {
  margin-bottom: 32px;
}

.uidesign .part .txt .caption.left h5 {
  padding-left: 0;
}

.uidesign .part .txt p {
  line-height: 1.7;
  margin-bottom: 32px;
}


.uidesign .part .txt a {
  display: flex;
  align-items: center;
}

.uidesign .part .txt a .arrow {
  width: 12%;
  margin-left: 12px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.uidesign .part .txt a:hover .arrow{
  margin-left: 30px;
}


.uidesign .part .txt a span {
  font-size: 20px;
  color: #505050;
  font-weight: 500;
}

.uidesign .part .txt a:hover span {
  color: #BC0909;
}

.uidesign .part.another {
  flex-direction: row-reverse;
}

.uidesign .part.another .txt {
  margin-right: 2%;
  margin-left: 0;
}

.entxt-design {
  margin-top: 100px;
}


/* 表尾------------------------ */
footer {
  width: 100%;
  background-color: #322F2F;
  padding: 32px 16px;
  position: relative;
}

footer a {
  position: absolute;
  top: -40%;
  right: 4%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #BC0909;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a img {
  width: 50%;
  transform: rotate(180deg);
}

footer p {
  text-align: center;
  color: white; 
  font-size: 20px;
  font-family: 'Archivo', sans-serif;
  letter-spacing: 1px;
}






/* RWD------------------------ */
@media screen and (max-width:1200px) {
  .about {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 52px;
  }

  .about .cont .experience {
    flex-wrap: wrap;
  }
  
  .about .cont .experience .part {
    width: 48%;
    margin-bottom: 48px;
  }

  .posm {
    padding-top: 200px;
  }

  .posm .main-title {
    top: 50px;
  }

  .posm .title {
    background-position: right -1000px center;
  }

  .activity .title {
    background-position: left -840px center;
  }

  .activity .cont .img-box .ticket {
    margin-right: 16px;
  }

  .brand .title {
    background-position: right -1000px center;
  }

  .uidesign .uientxt {
    width: 8%;
    top: 40%;
  }

  .uidesign .title {
    background-position: left -840px center;
  }
}

@media screen and (max-width:992px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about .cont > .title {
    margin-top: 0;
  }

  .posm .poster .cont > img {
    width: 32%;
  }

  .posm .poster .cont .poster-another img {
    margin-right: 12px;
  }

  .brand .part {
    padding-top: 200px;
  }

  .brand .part.another .package {
    padding-top: 20px;
  }

  .uidesign .part .txt .caption.left {
    margin: 0 0 24px;
  }

  .entxt-design {
    width: 70%;
  }

  .posm .poster .cont .poster-another img {
    width: 38%;
  }
  
}

@media screen and (max-width:767px) {
  .menu {
    bottom: 0;
  }

  .menu ul {
    justify-content: space-between;
  }

  .menu ul li a {
    padding: 20px 12px;
  }

  .menu ul li a:hover {
    color: white;
    background-color: transparent;
  }

  header {
    height: 500px;
  }

  header .cont h2 {
    font-size: 36px;
  }

  .about {
    padding-bottom: 0;
  }

  .about .cont > .title {
    font-size: 24px;
    width: 180px;
    line-height: 49px;

  }

  .main-title h3 {
    font-size: 36px;
  }

  .main-title .arrow-left {
    width: 80px;
  }

  .about .cont .intro {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 48px;
  }

  .about .cont .intro .mephoto {
    width: 100%;
  }

  .about .cont .intro .txt {
    background-image: none;
    margin-left: 0;
    padding-left: 0;
    justify-content: flex-start;
    margin-top: 24px;
    width: 100%;
    height: auto;
    margin-bottom: 60px;

  }

  .about .cont .intro .txt .tool-img img {
    width: 10%;
  }

  .about .cont .experience .part {
    width: 100%;
  }

  .posm {
    padding-top: 150px;
  }

  .posm .title h4 {
    font-size: 24px;
  }
  .caption {
    margin-bottom: 60px;
  }

  .posm .poster {
    margin-top: -30px;
  }

  .posm .poster-entxt {
    top: 30px;
  }

  .posm .poster .cont > img {
    width: 100%;
  }

  
.posm .poster .cont > img:hover {
  transform: scale(1.0, 1.0);
  -webkit-transform: scale(1.0,1.0);
  box-shadow: none;
}

  .posm .poster .cont .poster-another {
    flex-wrap: wrap-reverse;
    justify-content: center;   
    margin-bottom: 100px;
  }

  .posm .poster .cont .poster-another .caption.left h5 {
    padding: 16px 24px 8px;
  }

  .posm .poster .cont .poster-another img {
    width: 100%;
    margin: 16px 0 0 0;
  }

  .handbook .caption {
    top: -1%;
  }

  .handbook .part .intro {
    flex-wrap: wrap;
  }

  .handbook .part .intro .txt {
    width: 100%;
  }

  .handbook .part .intro.reverse .txt {
    margin-left: 0;
  }


  .handbook .part .intro img {
    width: 100%;
  }

  .handbook .part .img-box {
    flex-wrap: wrap;
  }

  .handbook .part .img-box img {
    width: 100%;
    margin-top: 24px;
  }

  .handbook .part .img-box img:hover {
    transform: scale(1.0 ,1.0);
    -webkit-transform: scale(1.0 ,1.0);
    border: none;
    box-shadow: none;
  }

  .dm-cont .txt-img {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .dm-cont .txt-img img {
    width: 100%;
  }

  .dm-cont .img-box {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .dm-cont .img-box .imgright,
  .dm-cont .img-box .imgleft {
    width: 100%;
    margin-bottom: 24px;
  }
  
  .dm-cont .txt-img .caption.left {
    width: 100%;
    text-align: center;
  }

  .dm-cont .txt-img .caption.left h5 {
    padding: 16px 24px 8px;
  }

  .activity {
    padding-top: 60px;
  }

  .activity .title h4 {
    font-size: 24px;
  }

  .activity .cont .intro {
    flex-wrap: wrap-reverse;
  }

  .activity .cont .intro img {
    width: 100%;
  }

  .activity .cont .intro .txt {
    width: 100%;
    margin-bottom: 24px;
  }

  .activity .cont .intro .txt img {
    width: 40%;
  }

  .activity .cont .img-box {
    flex-wrap: wrap;
  }

  .activity .cont .img-box .card {
    width: 100%;
  }

  .activity .cont .img-box .ticket {
    width: 100%;
    margin-top: 24px;
  }

  .brand .title h4 {
    font-size: 24px;
  }

  .brand .title {
    background-position: right -800px center;
  }

  .brand .part .intro {
    flex-wrap: wrap;
  }

  .brand .part .intro .txt {
    width: 100%;
    padding-bottom: 12px;
  }

  .brand .part .intro .card {
    width: 100%;
  }

  .brand .part .img-box {
    flex-wrap: wrap;
  }

  .brand .part .img-box img {
    width: 100%;
    margin-bottom: 24px;
  }

  .brand .part.another {
    padding-top: 100px;
  }

  .brand .part.another .item {
    flex-wrap: wrap;
  }

  .brand .part.another .item .intro {
    width: 100%;
  }

  .brand .part.another .item .metori-edm {
    width: 100%;
  }

  .brand .part .package .img-box {
    flex-wrap: wrap;
  }

  .brand .part .package .img-box img {
    width: 100%;
  }

  .brand .part .banner {
    margin-bottom: 24px;
  }

  .brand .part .intro {
    margin-bottom: 24px;
  }
  
  .uidesign {
    padding-top: 100px;
  }

  .uidesign .title h4 {
    font-size: 24px;
  }

  .uidesign .part {
    padding-top: 60px;
    flex-wrap: wrap;
  }

  .uidesign .part .img-box {
    width: 100%;
  }

  .uidesign .part .txt {
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
  }

  .uidesign .uientxt {
    top: 50%;
    right: 0;
  }

  .entxt-design {
    margin-top: 60px;
  }

  .handbook .grayline {
    margin-bottom: 50px;
  }

  .dm-cont .img-box {
    margin-bottom: 60px;
  }

  .brand {
    padding-top: 60px;
  }

  .brand .part.another .package {
    padding-top: 60px;
  }



  footer {
    margin-bottom: 64px;
  }

  footer a {
    width: 44px;
    height: 44px;
    display: none;
  }
  
}

@media screen and (max-width:662px) {


  .activity .cont .caption {
    margin-top: 0;
  }

  .uidesign .part {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }

  .uidesign .part .txt {
    padding-left: 16px;
    padding-right: 16px;
  }

  .entxt-design {
    margin-top: 0;
  }

  .dm-cont .img-box {
    margin-bottom: 40px;
  }

  .brand .part .package {
    padding-top: 40px;
  }

  .brand .part .package h6 {
    margin-top: -80px;
  }

  .brand .part.another .package {
    padding-top: 40px;
  }

  .brand .part .package .cont-1 {
    margin-top: 60px;
  }

  
}

@media screen and (max-width:480px) {
  .menu ul li a {
    font-size: 12px;
  }

  .posm .poster-entxt {
    width: 70%;
    top: 50px;
  }

  .posm .poster {
    margin-top: -50px;
  }

  .brand .part .package h6 {
    margin-top: -60px;
  }

  .handbook .part .intro .txt p {
    margin-bottom: 32px;
  }


  .handbook .part .img-box {
    margin-top: 0;
  }

  .handbook .grayline {
    margin-top: 50px;
  }



  footer {
    margin-bottom: 57px;
  }
  
}











 












































































































































































































































































